// extended using airbnb's eslint config
// see: https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb
{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "rules": {
    "no-alert": 0,
    "no-use-before-define": 0,
    "no-return-assign": 0,
    "no-mixed-operators": 0,
    "no-prototype-builtins": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-no-bind": 0,
    "react/no-string-refs": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "no-underscore-dangle": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0
  }
}
